@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

body {
  margin: 0;
  overflow: hidden;
  background-color: #07080a;
  /* MATCH cyber.black */
  color: #e2e8f0;
  font-family: 'Inter', sans-serif;
}